<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Assignment1_programs</display-name>
  <welcome-file-list>
    <welcome-file>part6Servlet.htm</welcome-file>
   </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>part2Servlet</display-name>
    <servlet-name>part2Servlet</servlet-name>
    <servlet-class>com.neu.servlets.Part2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>part2Servlet</servlet-name>
    <url-pattern>/part2Servlet</url-pattern>
    <url-pattern>/part2demo.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Part3Servlet</display-name>
    <servlet-name>Part3Servlet</servlet-name>
    <servlet-class>com.neu.servlets.Part3Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Part3Servlet</servlet-name>
    <url-pattern>/part3Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Part4Servlet</display-name>
    <servlet-name>Part4Servlet</servlet-name>
    <servlet-class>com.neu.servlets.Part4Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Part4Servlet</servlet-name>
    <url-pattern>/part4Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Part5Servlet</display-name>
    <servlet-name>Part5Servlet</servlet-name>
    <servlet-class>com.neu.servlets.Part5Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Part5Servlet</servlet-name>
    <url-pattern>/part5Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Part6Servlet</display-name>
    <servlet-name>Part6Servlet</servlet-name>
    <servlet-class>com.neu.servlets.Part6Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Part6Servlet</servlet-name>
    <url-pattern>/part6Servlet</url-pattern>
    <url-pattern>/part6Servlet.htm</url-pattern>
  </servlet-mapping>
</web-app>